
{% extends "base.html" %}

{% block content %}
    <section class="header">
        <nav id="mynavbar" class="navbar">
            <a id="navname"> <b>UniformChat</b> </a>
            <a href="chat" id="chat">Chat</a>
            <a href="" id="messages">Messages</a>
            <a href="../gmlogin" id="gmlogin">GroupMe Login</a>
        </nav>
    </section>
    <container class="convcont">
        <div class="toolbox">
            <button class="newconvo">+</button>
            <button class="settings">Settings</button>
        </div>
        <div class="btn-group">
            {% for conversation in conversations %}
            <button>
                <h3 style="text-align:left;color:white">
                    {{ conversation.user }}
                    <span style="float:right">
                        {{ conversation.date }}
                    </span>
                </h3>
                <h4 style="text-align:left">{{ conversation.platform }}</h4>
                <p style="text-align:left"> {{ conversation.snippet }} </p>
            </button>
            {% endfor %}
        </div>
    </container>
{% endblock %}