
{% extends "base.html" %}
{% load static %}


{% block content %}
<html style="font-size: 16px;">
  <head>
    <title>UniformChat | Authentication Hub</title>
    <link rel="stylesheet" href="{% static 'nicepage.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'Page-1.css' %}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

  </head>
  <section class="header">
    <nav id="mynavbar" class="navbar">
      <div class = logo>
        <b><a href="../../" id="navname"><b>UniformChat</b> </a>
      </div>
        <div class="menu">
          <a href="/messages" id="messages">Messages</a>
          <a href="/logout" id="logout">Sign out</a>
        </div>
    </nav>
  </section>
  <body class="u-body u-custom-color-1 u-xl-mode">
  

    <section class="u-align-center u-clearfix u-section-3" id="carousel_b63e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">Welcome {{username}}!</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div onclick="location.href = '../../disclogin';"  class="u-border-1 u-border-custom-color-3 u-container-style u-custom-color-2 u-hover-feature u-list-item u-radius-9 u-repeater-item u-shape-round u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-out="0">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span  class="u-custom-item u-file-icon u-icon u-icon-circle u-spacing-32 u-text-custom-color-1 u-white u-icon-1"><img src="{% static 'media/39.png' %}" alt=""></span>
                <h4 class="u-text u-text-custom-color-1 u-text-default u-text-2">Discord</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-3">{%if discord %}Connected{% else %}Not Connected{% endif %}<br>
                  <br>
                </p>
              </div>
            </div>
            <div onclick="location.href = '../../gmlogin'; " class="u-border-1 u-border-custom-color-3 u-container-style u-custom-color-2 u-hover-feature u-list-item u-radius-9 u-repeater-item u-shape-round u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-out="0">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-custom-color-1 u-custom-item u-file-icon u-icon u-icon-circle u-spacing-32 u-icon-2"><img src="{% static 'media/40.png' %}" alt=""></span>
                <h4 class="u-text u-text-custom-color-1 u-text-default u-text-4">GroupMe</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-5">{%if groupme %}Connected{% else %}Not Connected{% endif %}<br>
                </p>
              </div>
            </div>
            <div onclick="location.href = '../../slacklogin'; "  class="u-border-1 u-border-custom-color-3 u-container-style u-custom-color-2 u-hover-feature u-list-item u-radius-9 u-repeater-item u-shape-round u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-out="0">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-custom-item u-file-icon u-icon u-icon-circle u-spacing-32 u-text-custom-color-1 u-white u-icon-3"><img src="{% static 'media/41.png' %}" alt=""></span>
                <h4 class="u-text u-text-custom-color-1 u-text-default u-text-6">Slack</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-7">{%if slack %}Connected{% else %}Not Connected{% endif %}<br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <h6 class="u-text u-text-custom-color-3 u-text-default u-text-8">To connect a new account, simply recconect</h6>
      </div>
      
      
      
   
  </body>
</html>

{% endblock %}
